/*
Free Html5 Responsive Templates
Author: Kimmy Tran
Author URI: http://www.zerotheme.com/
*/
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}

.response-menu{
	position: relative;
	z-index: 30;
	margin: 0px 10px;
	width: 100px;
}
.response-menu div{
	padding-top: 5px;
	overflow: hidden;
	position: relative;
	font: 18px/25px 'PT Sans Narrow';
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
}
.response-menu select{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
}
.response-menu{
	display:none;
}

.response-post-button{
display:none;
}


/*------------------------*/

@media only screen and (max-width: 959px) {
	.nav-box nav ul li {padding:0 16px 0 18px}	
}
@media only screen and (max-width: 980px) {
	.nav-box nav ul li {padding:0 16px 0 18px;}
	.nav-box nav ul li a {font-size:1em;}
	.nav-box nav ul.fright {padding-right:20px}
	.nav-box nav ul.fright li {padding:0 23px 0 25px}
	header {height:50px;}
	
	aside .inside{display:block;}
	aside .collegeinside{display:none;}
	.zerogrid .col-1-4{width:40%;}
	.zerogrid .col-3-4{width:60%;}
	
}

@media only screen and (max-width: 760px) {
	.nav-box nav ul li {padding:0 6px 0 8px;}
	.nav-box nav ul li a {font-size:1em;}
	.nav-box nav ul.fright {padding-right:14px}
	.nav-box nav ul.fright li {padding:0 13px 0 15px}
	header {height:50px;}
	
	aside .inside{display:block;}
	aside .collegeinside{display:none;}
	
}
@media only screen and (max-width: 480px) {

	.nav-box {width:100%;background:url(../images/nav-box-tail.gif) repeat-x left top;position:absolute;}
	

		
	.response-menu{display: block;}
	.normal-menu{display: none;}
	
	.box .inner {padding:10px 10px 10px 10px;}
	
	/*The login/sign up form responsiveness*/
	.zerogrid .col-6-2{width:90%;}
	
	
}




/*responsive search box*/

@media only screen and (max-width: 1130px) {
	
#search {

}


#search input[type="text"] {
    background: url(../images/search.png) no-repeat 10px 6px #e5e4e2;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }

#search input[type="text"]:focus {
    background: url(../images/search.png) no-repeat 10px 6px #fcfcfc;
	width:150px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	outline:none;
    }
	
	/*The Login/Signup form responsiveness*/
	.loginwithfb {
		width:100%;
	}
	
	.login {
		width:100%;
	}

}

@media only screen and (max-width: 2110px) {

.zerogrid .col-1-4{width:25%;}
.zerogrid .col-3-4{width:50%;}
.zerogrid .col-4-4{width:25;}
}

@media only screen and (max-width: 1080px) {

.zerogrid .col-1-4{width:30%;}
.zerogrid .col-3-4{width:45%;}
.zerogrid .col-4-4{width:25;}
	
#search {

}


#search input[type="text"] {
    background: url(../images/search.png) no-repeat 10px 6px #e5e4e2;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width:100px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }

#search input[type="text"]:focus {
    background: url(../images/search.png) no-repeat 10px 6px #fcfcfc;
	width:100px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	outline:none;
    }
	
}

@media only screen and (max-width: 1030px) {
	
	#search {

}


#search input[type="text"] {
    background: url(../images/search.png) no-repeat 10px 6px #e5e4e2;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width:70px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }

#search input[type="text"]:focus {
    background: url(../images/search.png) no-repeat 10px 6px #fcfcfc;
	width:70px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	outline:none;
    }

}

@media only screen and (max-width: 1000px) {
	
	#search {

}


#search input[type="text"] {
    background: url(../images/search.png) no-repeat 10px 6px #e5e4e2;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width:50px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }

#search input[type="text"]:focus {
    background: url(../images/search.png) no-repeat 10px 6px #fcfcfc;
	width:50px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	outline:none;
    }

}


@media only screen and (max-width: 980px) {
	
	#search {

}


#search input[type="text"] {
    background: url(../images/search.png) no-repeat 10px 6px #e5e4e2;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width:100px;
    padding: 6px 15px 6px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }

#search input[type="text"]:focus {
    background: url(../images/search.png) no-repeat 10px 6px #fcfcfc;
	width:100px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	outline:none;
    }

}

@media only screen and (max-width: 620px) {
.zerogrid .col-1-4{width:100%;}
.zerogrid .col-3-4{width:100%;}
}


@media only screen and (max-width: 560px) {
	
	#search {

}


#search input[type="text"] {
    background: url(../images/search.png) no-repeat 10px 6px #e5e4e2;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width:60px;
    padding: 6px 15px 6px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }

#search input[type="text"]:focus {
    background: url(../images/search.png) no-repeat 10px 6px #fcfcfc;
	width:60px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	outline:none;
    }
	

}

@media only screen and (max-width: 500px) {
	
	#search {

}


#search input[type="text"] {
    background: url(../images/search.png) no-repeat 10px 6px #e5e4e2;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width:40px;
    padding: 6px 15px 6px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    }

#search input[type="text"]:focus {
    background: url(../images/search.png) no-repeat 10px 6px #fcfcfc;
	width:40px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	outline:none;
    }
}
}